* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #414141;
  background-color: #EEEEEE;
  font-size: 18px;
}

ol {
	margin-left: 1em;
}

li {
	margin: 1em;
}

a {
	text-decoration: none;
	color: mediumblue;
}

a:hover {
	text-decoration: underline;
	color: dodgerblue;
	font-weight: bolder;
}